@media only screen and (max-width: 1280px) {

}

/*Large devices (desktops, less than 1200px)*/
@media only screen and (max-width: 1199px) {

}

/*Medium devices (tablets, less than 992px)*/
@media only screen and (max-width: 991px) {

    .search-bar-top {
        padding: 20px 18px 20px 18px !important;
    }
    .side-menu-wrap .side-menu-close {
        height: 20px;
        width: 20px;
    }

    .side-menu-close span {
        width: 11px;
    }
    .user-top-header span {
        top: 10px;
    }
   
    .side-menu-nav .main-menu .sub-menu~i {
        right: 0px;
    }
   
    .user-top-header span {
        left: 10px;
    }
    .user-main-icon {
        padding-left: 45px !important;
    }
    .side-menu-nav .main-menu .sub-menu~i {
        padding: 22px 25px;
    }

    .custom-select-trigger {
        width: 270px;
    }
    nav {
        margin-right: 0px;
    }
    .custom-options{
        z-index: 999;
    }

    .side-menu-close span {
        background: #000;
    }
    .search-top {
        text-align: center;
        border-bottom: none !important;
        margin-top: 10px;
    }

    .btn-search {
        padding: 0;
        width: 100%;
        height: 45px;
     
    }

    .custom-option {
        font-weight: 100;
    }

    .col-md-6.col-sm-12.text-right {
        text-align: left !important;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .row.align-items-center.justify-content-between {
        margin-top: 5px;
    }

    .float-panel {
        position: fixed !important;
    }

    .main-cards-body {
        padding-top: 0px;
        margin-top: 200px;
    }

    .top-header a {
        font-size: 12px;
    }

    .social-links-top  {
        display: none;
    }
    
}


/*Small devices (landscape phones, less than 768px)*/
@media only screen and (max-width: 767px) {
    .product-images, #contact-us {
        padding: 20px;
        text-align: left;
        max-width: 80%;
        color: #fff;
        margin: 30px 0px 0px 100px;
    }
}

/*Extra small devices (portrait phones, less than 576px)*/
@media only screen and (max-width: 575px) {
    .logo-header {
        width: 150px;
        height: 70px;
    }

    .float-panel {
        padding: 0px 20px 10px 20px !important;
    }

    
}

/*Extra small devices (portrait phones, less than 480px)*/